<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{%block title%} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <div class="topnav" id="myTopnav">
        <a href="/" class="logo">i Learn</a>
        <div class="dropside">
          <button class="dropbtn" onclick="openNav()">Categories
            <i class="fa fa-caret-down"></i>
          </button>
        </div>
          <ul class="dropdown-content sidenav" id="mySidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#8592;</a>
            {% for courses in get_courses %}
            <a class=" collapsible" id="6">{{courses}}
            </a>
            
            <ul class="content ds6 ">
              {% for subCat in sub_cat %}
              {% if subCat.1 == courses %}
                      <li class="subitem">{{subCat.0}}</li>
                      {% endif %}
                      {% endfor %}
                    </ul>
                    {% endfor %}
            <!-- <a class=" collapsible" id="7">Class 7
            </a>
                  <ul class="content ds7 ">
                      <li class="subitem">Maths</li>
                      <li class="subitem">Physics</li>
                      <li class="subitem">Chemistry</li>
                      <li class="subitem">Computer</li>
                  </ul>
            <a class=" collapsible" id="8">Class 8
            </a>
                  <ul class="content ds8 ">
                      <li class="subitem">Maths</li>
                      <li class="subitem">Physics</li>
                      <li class="subitem">Chemistry</li>
                      <li class="subitem">Computer</li>
                  </ul>
            <a class=" collapsible" id="9">Class 9
            </a>
                  <ul class="content ds9 ">
                      <li class="subitem">Maths</li>
                      <li class="subitem">Physics</li>
                      <li class="subitem">Chemistry</li>
                      <li class="subitem">Computer</li>
                  </ul>
            <a class=" collapsible" id="10">Class 10
            </a>
                  <ul class="content ds10 ">
                      <li class="subitem">Maths</li>
                      <li class="subitem">Physics</li>
                      <li class="subitem">Chemistry</li>
                      <li class="subitem">Computer</li>
                  </ul>
            <a class=" collapsible" id="11">Class 11
            </a>
                  <ul class="content ds11 ">
                      <li class="subitem">Maths</li>
                      <li class="subitem">Physics</li>
                      <li class="subitem">Chemistry</li>
                      <li class="subitem">Computer</li>
                  </ul>
            <a class=" collapsible" id="12">Class 12
            </a>
                  <ul class="content ds12 ">
                      <li class="subitem">Maths</li>
                      <li class="subitem">Physics</li>
                      <li class="subitem">Chemistry</li>
                      <li class="subitem">Computer</li>
                  </ul>-->
        </ul>
    <div class="mid2">
            <div id="searchBox" >
              <input type="text" id="search" name="search" placeholder="What Do You Want Learn?">
              <img src="static/img/search.png" alt="">
           </div>
        </div>
        {% if user.is_authenticated %}
         <span id="uname">
             <button class="btn logout" ><a  class="logouta" href="/logout">Logout</a></button>
             {% if request.user.first_name == "Teacher" %}
             <a href="/addCourse" class="role">Instructer</a>
            {% endif %}

             <span id="name" class="typewriter"><b>Welcome {{request.user}}</b></span>
        </span>
        {% else %}
        <!-- Button to trigger signup modal -->
        <button id="signUp" class="btn btn-SignUp">Sign Up</button>
        <!-- Button to trigger login modal -->
        <button id="logIn" class="btn btn-Login">Log In</button>
        <button class="btn btn-Teach"><a href="/teach1">Teach On iLearn</a></button>
        {% endif %}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div> 
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
        <strong>Message: </strong>{{message}}
        <button type="button" class="closeAlert" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
<!--signUp The Modal -->
<div id="myModal " class="modal modal-signup">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close closesignup">&times;</span>
      <h2>Sign Up</h2>
    </div>
    <div class="modal-body">
        <form action="/signup" method="POST">{% csrf_token %}
            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" name="userName" id="userName" placeholder="Enter a Unique Username " required>
            </div>
            <div class="form-group">
                <label for="email">Email Id</label>
                <input type="email" name="email" id="email" placeholder="Enter Your Email Id" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter Your Password" required>
            </div>
            <div class="form-group">
                <label for="cpassword">Confirm Password</label>
                <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" required>
            </div>
                <button id="submitSignup" type="submit">Sign Up</button>
        </form>
    </div>
  </div>
</div>
<!--login The Modal -->
<div id="myModal" class="modal modal-login">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close closelogin">&times;</span>
      <h2>Log In</h2>
    </div>
    <div class="modal-body">
        <form action="/login" method="POST">{% csrf_token %}
            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" name="loginuserName" id="loginuserName" placeholder="Enter Your Username " required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="loginpass" id="loginpass" placeholder="Enter Your Password" required>
            </div>
                <button id="submitLogin" type="submit">Log In</button>
        </form>
    </div>
  </div>
</div>
    {% block body %}
    {% endblock body %}
    <div id="lastElem">
        <div class="foot">
        <div>
          <ul class="footUl">
            <li><b>iLearn</b></li>
            <li><a href="/teach1">Teach On iLearn</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="">Devlopers</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
        <div>
          <ul class="footUl">
            <li><b>More</b></li>
            <li><a href="">Terms</a></li>
            <li><a href="">Privacy</a></li>
          </ul>
        </div>
        </div>
        <hr style="background-color: rgb(209, 209, 209);">
        <footer>
          <div id="fitem1">
          &copy; 2020 iLearn Inc.All Right Reserved
        </div>
        <div id="fitem2">
          <img src="/static/img/facebook.png" alt="">
          <img src="/static/img/instagram.png" alt="">
          <img src="/static/img/twitter.png" alt="">
          <img src="/static/img/linkedin.png" alt="">
        </div>
        </footer>
        </div>
    
</body>
<script src="{% static 'js/base.js' %}"></script>
</html>