<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course</title>
    {% load static %}
</head>
<link rel="stylesheet" href="{% static 'css/baseTeach.css' %}">
<body>
    <div class="top">
    <div id="Tname">
        {{request.user|slugify|first|upper}}
        <div class="box arrow-top">
            <h5>Hi! {{request.user}}</h5>
            <p>{{request.user.email}}</p>
            <h2 onclick="profile(this)">Profile</h2>
          </div>
    </div>
    <a href="/" id="role">Student</a>
</div>
<div id="myModal" class="modal modal-profile">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" id="closeprofile">&times;</span>
        <h2>jj</h2>
      </div>
      <div class="modal-body">
        <div class="profile">
              <div class="row">
                <div class="col-25">
                  <label for="fname">First Name:</label>
                </div>
                <div class="col-75">
                  <input type="text" id="fname" name="firstname" placeholder="Your name..">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="lname">Last Name:</label>
                </div>
                <div class="col-75">
                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="disc">About Yourself:</label>
                </div>
                <div class="col-75">
                  <textarea id="disc" name="disc" placeholder="About Yourself.." style="height:200px"></textarea>
                </div>
              </div>
              <div class="row row-btn">
                <button onclick="TeacherProfile(this)" data-action="save" class="saveTprofile">Save</button>
              </div>
          </div>
      </div>
    </div>
  </div>
<div id="mySidenav" class="sidenav">
    <a href="/addCourse"><span><img src="/static/img/logo.png" alt=""></span><span>iLearn</span></a>
    <a href="/addVideos"><span><img src="/static/img/courses.png" alt=""></span><span>Courses</span></a>
    <a href="/teacherPerformance"><span><img src="/static/img/performence.png" alt=""></span><span>Performence</span></a>
    <a href="#"><span><img src="/static/img/resource.png" alt=""></span><span>Resources</span></a>
  </div>
  
  {% block body %}
      
  {% endblock body %}
      
</body>
<script src="{% static 'js/baseTeach.js' %}"></script>
</html>