{% extends 'base.html' %}

{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<div class="about-section">
    <h1>About Us Page</h1>
    
    <p>We aim to provide better education to students through our online courses in best price</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="zoom">
    <div class="zoom1">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="adarsh" style="width:100%">
        <div class="container">
          <h2>Adarsh Srivastava</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>Instagram: adarsh65998</p>
        </div>
      </div>
    </div>
  
    <div class="zoom2">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="saurabh" style="width:100%">
        <div class="container">
          <h2>Saurabh Singh Yadav</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>Instagram: saurabh9547</p>
          
        </div>
      </div>
    </div>
  
    <div class="zoom3">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="abhishek" style="width:100%">
        <div class="container">
          <h2>Abhishek Yadav</h2>
          <p class="title">Manager</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>Instagram: adarsh65998</p>
          
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
    