{% extends 'base.html' %}

{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<div class="about-section">
  <span>About Us</span>
  <div class="line"></div>
  <p  class="mission">“Cognedu” aspire to be India’s smartest and most comprehensive online learning and home tutors destination. 
    We offers highly personalized and effective learning programs for classes 6 - 12,
     aspirants of competitive exams ie. SSC, Banking etc. and personal development. By 
     connecting students all over India to the best instructors, our team is helping 
     individuals to reach their goals and pursue their dreams.
    We also appreciate the value of structured way of learning,
     not just the quantity of it but also the approach. It is only
      by supporting actively everyday & making small but significant 
      headways can one ensure continuous improvement.</p>
  <span>Our Mission</span>
  <div class="line"></div>
  <p>Reach further. Move Faster. Go longer. Work harder.
    There’s no knowing what we can accomplish when we commit to always trying to do better, and be better, in everything that we do..</p>
</div>
<div class="aboutline"></div>

<h2 style="text-align:center;font-size:35px;">Our Team</h2>

<div class="container">
  <div class="profile-card">
    <div class="top-section">
      <i class="message fas fa-envelope"></i>
      <i class="notif fas fa-bell"></i>
      <div class="pic">
      <img src="/static/img/saurabhp.jpg" alt="">
      </div>
      <div class="name">Saurabh Yadav</div>
      <div class="tag"></div>
    </div>
    <div class="bottom-section">
      <div class="social-media">
        <a><img src="/static/img/instagram.png" alt=""></a>
        <a><img src="/static/img/fbprofile.png" alt=""></a>
        <a><img src="/static/img/linkedinp.png" alt=""></a>
      </div>
      <div class="disc">
      <div>Persuing Btech from IIT B.H.U(Varanasi) in Electronics and communication engineering.Hard-working 
        listing programmer with a flair for creating elegent solution
        in the least amount of time.
      </div>
    </div>
    </div>
  </div>
  <div class="profile-card">
    <div class="top-section">
      <i class="message fas fa-envelope"></i>
      <i class="notif fas fa-bell"></i>
      <div class="pic">
        <span>A</span>
      </div>
      <div class="name">Adarsh Srivastava</div>
      <div class="tag"></div>
    </div>
    <div class="bottom-section">
      <div class="social-media">
        <a><img src="/static/img/instagram.png" alt=""></a>
        <a><img src="/static/img/fbprofile.png" alt=""></a>
        <a><img src="/static/img/linkedinp.png" alt=""></a>
      </div>
      <div class="disc">
      <div>Persuing Btech from MNNIT Allahabad in Electronics and communication engineering</div>
    </div>
    </div>
  </div>
  <div class="profile-card">
    <div class="top-section">
      <i class="message fas fa-envelope"></i>
      <i class="notif fas fa-bell"></i>
      <div class="pic">
       <img src="/static/img/abhishekp.jpg" alt="">
      </div>
      <div class="name">Abhishek Yadav</div>
      <div class="tag"></div>
    </div>
    <div class="bottom-section">
      <div class="social-media">
        <a><img src="/static/img/instagram.png" alt=""></a>
        <a><img src="/static/img/fbprofile.png" alt=""></a>
        <a><img src="/static/img/linkedinp.png" alt=""></a>
      </div>
      <div class="disc">
      <div>Had persued M.Tech from IIT DELHI with active envolvement in various socity development projects and work on content development for academics upliftment </div>
    </div>
    </div>
  </div>
  <div class="profile-card">
    <div class="top-section">
      <i class="message fas fa-envelope"></i>
      <i class="notif fas fa-bell"></i>
      <div class="pic">
       <img src="/static/img/rupeshp.jpg" alt="">
      </div>
      <div class="name">Rupesh Walia</div>
      <div class="tag"></div>
    </div>
    <div class="bottom-section">
      <div class="social-media">
        <a ><img src="/static/img/instagram.png" alt=""></a>
        <a ><img src="/static/img/fbprofile.png" alt=""></a>
        <a><img src="/static/img/linkedinp.png" alt=""></a>
      </div>
      <div class="disc">
      <div>Completed M.Tech from IIT Delhi and work experince with ABG group, activelly involved in NSS with various teaching project as having 3 years teaching experience </div>
    </div>
    </div>
  </div>
</div>
<script   src="{% static 'js/about.js'%}"></script>

{% endblock body %}