{% extends 'base.html' %}

{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<div class="about-section">
    <h1>About Us Page</h1>
    
    <p>We aim to provide better education to students through our online courses in best price</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="card">

 
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="img/avatar.png" alt="" >
        </div>
        <div class="flip-card-back">
          <h1>Adarsh Srivastava</h1>
          <p>CEO and Founder</p>
          <p>instagram-</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="" alt="">
        </div>
        <div class="flip-card-back">
          <h1>Saurabh Singh Yadav</h1>
          <p>CEO and Founder</p>
          <p>instagram-</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="img_avatar.png" alt="" >
        </div>
        <div class="flip-card-back">
          <h1>Abhishek Yadav</h1>
          <p>Manager</p>
          <p>instagram-</p>
        </div>
      </div>
    </div>
  </div>
  
{% endblock body %}
    