{% extends 'baseTeach.html' %}
{%block title%}Cognedu | Teacher {% endblock title %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/addCourse.css' %}">

<div class="addCourse">
    <img src="/static/img/addCourse.png" alt="">
    <h1>Create An Awesome Course</h1>
    
<a type="button" class="btn btn-addCourse" href="/getStarted">Create Your Course</a>
</div>
<div id="Home-Tutor">
    <h2>Or</h2>
  </div>
<div class="homeTutor">
  <img src="/static/img/homeTuition.png" alt="">
  <h1>Become a Home Tutor</h1>
<a type="button" class="btn btn-homeTutor" href="/homeTutor">Register</a>
</div>
<div class="engage">
  <div>
  <img src="/static/img/engage.png" alt="">
  </div>
  <div>

    <h2>Create an Engaging Course </h2>
    <p>Whether you've been teaching for years or are teaching for the first time, you can make an engaging course. We've
      compiled resources and best practices to help you get to the next level, no matter where you're starting.</p>
  </div>
</div>
<div class="video">
  <div>
    <img src="/static/img/videolec.png" alt="">
  </div>
  <div>

    <h2>Get Started With Video</h2>
    <p>Quality video lectures can set your course apart. Use our resources to learn the basics.</p>
  </div>
</div>
<div class="audience">
  <div>

    <img src="/static/img/audience.png" alt="">
  </div>
  <div>

    <h2>Build Your Audience</h2>
    <p>Set your course up for success by building your audience.</p>
  </div>
</div>
<div class="helpHeading">
<h3>Have questions? Here are our most popular instructor resources.</h3>
</div>
<div class="help">
  <div class="support">
    <img src="/static/img/support.png" alt="">
    <a href='contact'>Help and Support</a>
     <p> Browse our Help Center or contact our support team.</p>
  </div>
  <div class="teaching">
    <img src="/static/img/teachingcenter.png" alt="">
    <a href="#">Teaching Center</a>
     <p> Learn about best practices for teaching on Cognedu.</p>
  </div>
  <div class="testvideo">
    <img src="/static/img/testvideo.png" alt="">
    <a href="#" id="testvideo">Test video</a>
     <p> Learn about best practices for teaching on Cognedu.</p>
  </div>
</div>
<div id="myModal" class="modal modal-signup">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close closesignup">&times;</span>
      <div class="Welcomesignup">
        <h2>Test Video</h2>
      </div>
    </div>
    <div class="modal-body">
      <div id="message"></div>
     <div class="instruction">
       <h2>Instruction</h2>
       <p>Create a short test video so our experts can 
         provide free feedback within two days on your
          audio, video, tone, and delivery. Your video
           can be on any subject you want, it's just a sample!</p>
           <h4>Test Video Steps</h4>
           <ol>
             <li>
              Tell us which language will be spoken in your video</li>
             <li>Let us know what types of feedback will be helpful</li> 
              <li> Optimize your area and equipment</li>
              <li> Ensure students can see, hear, and understand you</li>
              <li> Record a test of 1-3 minutes</li>
              <li> Submit as many as you want
             </li>
           </ol>
           <hr>
           
           {% if not tv %}
           <div class="addtvideo">
           <input type="file" accept="video/*" id="tvideo" name="tvideo"></div>
           <button class="btn btn-submit" onclick="submit(this)">Submit</button>
           <div class="progress" id="progress">
            <div class="myProgress">
              <div class="myBar" id="bar"></div>
            </div>
          <button class="btn-danger" onclick="abort()">Cancel</button>
          </div>
          {% else %}
          <h2>You have already posted a video</h2>
          {% endif %}
     </div>
    </div>
  </div>
</div>
<script src="{% static 'js/addCourse.js' %}"></script>
{% endblock body %}
    
