{% extends 'baseTeach.html' %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/addCourse.css' %}">
<div class="addCourse">
    <img src="/static/img/addCourse.png" alt="">
    <h1>Create An Awesome Course</h1>
    
<a type="button" class="btn btn-addCourse" href="/getStarted">Create Your Course</a>
</div>
<div id="Home-Tutor">
    <h2>Or</h2>
  </div>
<div class="homeTutor">
  <img src="/static/img/homeTuition.png" alt="">
  <h1>Become a Home Tutor</h1>
<a type="button" class="btn btn-homeTutor" href="/homeTutor">Register</a>
</div>
<div class="engage">
  <div>
  <img src="/static/img/engage.png" alt="">
  </div>
  <div>

    <h2>Create an Engaging Course </h2>
    <p>Whether you've been teaching for years or are teaching for the first time, you can make an engaging course. We've
      compiled resources and best practices to help you get to the next level, no matter where you're starting.</p>
  </div>
</div>
<div class="video">
  <div>
    <img src="/static/img/videolec.png" alt="">
  </div>
  <div>

    <h2>Get Started With Video</h2>
    <p>Quality video lectures can set your course apart. Use our resources to learn the basics.</p>
  </div>
</div>
<div class="audience">
  <div>

    <img src="/static/img/audience.png" alt="">
  </div>
  <div>

    <h2>Build Your Audience</h2>
    <p>Set your course up for success by building your audience.</p>
  </div>
</div>
<div class="helpHeading">
<h3>Have questions? Here are our most popular instructor resources.</h3>
</div>
<div class="help">
  <div class="support">
    <img src="/static/img/support.png" alt="">
    <a href="#">Help and Support</a>
     <p> Browse our Help Center or contact our support team.</p>
  </div>
  <div class="teaching">
    <img src="/static/img/teachingcenter.png" alt="">
    <a href="#">Teaching Center</a>
     <p> Learn about best practices for teaching on iLearn.</p>
  </div>
  <div class="testvideo">
    <img src="/static/img/testvideo.png" alt="">
    <a href="#">Test video</a>
     <p> Learn about best practices for teaching on iLearn.</p>
  </div>
</div>
{% endblock body %}
    