{% extends 'baseTeach.html' %}

{%block title%}Teacher | Course{% endblock title %}
{% block body %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/addVideo.css' %}">

{% for courses in get_courses %}
<div class="courseData">
<ul class="courseUl">
    <li class="item"><b>Title : </b>{{courses.title}}</li>
    <li class="item"><b>Category : </b>{{courses.category}} 
      
      {% if courses.verified == 'True' %}
      <img src="/static/img/watched.png" alt="">
      {% else %} 
      <span class="removeCourse">
      <img src="/static/img/remove.png" alt="">
<span class="remove"><h4>Course unverified</h4>
  <p>Want to remove</p>
  <button class="btn-danger" onclick="remove('{{courses.sno}}',this)">Confirm</button>
</span></span>
      {% endif %}
        
    </li>
    <li class="item"><b>Sub Category : </b>{{courses.sub_category}}</li>
    <li class="item"><b>Language : </b>{{courses.language}}</li>
    <li class="item"><b>Pricing : </b> Rs  {{courses.pricing}}</li>
  </ul>
<button type="button" class="collapsible">
Add Videos
</button>
<div class="content">

<div class="containerc">
  <div id="message{{courses.sno}}"></div>
    <form id='formData' method="POST" enctype="multipart/form-data">
        <input type="hidden" value="{{courses.sno}}" id="courseSno{{courses.sno}}" name="courseSno" >
      <div class="row">
        <div class="col-25">
          <label for="videoTitle">Title of the Video</label>
        </div>
        <div class="col-75">
          <input type="text" id="videoTitle{{courses.sno}}" name="videoTitle{{courses.sno}}" placeholder="eg: Arithmatic of Complex Number" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="thumbnail">Video Thumbnail Image (less than 150kb)</label>
        </div>
        <div class="col-75">
          <input type="file" id="thumbnail{{courses.sno}}" accept="image/*"  name="thumbnail{{courses.sno}}" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="video">Add Video (less than 512mb)</label>
        </div>
        <div class="col-75">
          <input class="myFile"  type="file" id="video{{courses.sno}}" accept="video/*" name="video{{courses.sno}}"  required></input>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="resources">Add Resources (less than 1mb)</label>
        </div>
        <div class="col-75">
          <input  type="file" id="resources{{courses.sno}}"  name="resources{{courses.sno}}" ></input>
        </div>
      </div>
    </form>
        <div class="row">
          <input onclick="sendForm('{{courses.sno}}',this)" id="add{{courses.sno}}" type="button" class="btn" value="Add">
        </div>
        <div class="progress" id="progress{{courses.sno}}">
        <div class="myProgress">
          <div class="myBar" id="bar{{courses.sno}}"></div>
        </div>
      <button class="btn-danger"  onclick="abort('{{courses.sno}}')">Cancel</button>
      </div>
  </div> 
</div> 
<button type="button" class="collapsible">
Videos Added
</button>
<div class="content">
    {% for video in get_videos %}
    {% if courses.sno|slugify == video.videoOfCourse|slugify  %}
    <ul class="courseUl">
        <li class="item"> {{video.videoTitle}} <span id="playvideo" onclick="play('{{video.videofile}}','{{video.thumbnail}}')">Play</span></li>
      
          <input type="hidden" id="vdata" data-video="{{video.videofile}}" data-poster="{{video.thumbnail}}">
    </ul>
   
    {% endif %}
    {% endfor %}
</div> 
</div>
{% endfor %}
<div id="myModal" class="modal modal-preview">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close closepreview">&times;</span>
     
    </div>
    <div class="modal-body pre">
      
    </div>
  </div>
</div>
<script   src="{% static 'js/addVideo.js'%}"></script>
{% endblock body %}
    