{% extends 'base.html' %}
{% block body %}
{%block title%}Congedu | HomeTutor {% endblock title %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/get_homeTutor.css' %}">
{% if ht %}
<div id="mySidenav" class="get_t" >
  <a href="#HTpopup2" id="demosnumber">Register</a>
</div> 
<div class="tutorcontainer">
  {% for item in ht %}
  <div class="tutoritem">
      <div class="nameCircle">{{item.name|first|upper}}</div>
      <h4 class="name">{{item.name|upper}}</h4>
      <h6 class="agesex">{{item.age}}Yrs {{item.gender}}</h6>
      <h6 class="subject">{{item.subject}}</h6>
      <h6 class="subject">Class:{{item.classes}}</h6>
    
      <hr>
      <p>{{item.discription}}</p>
      <hr>
      
      <div class="bottom">
        <input type="hidden" value="{{item.user_id}}">
          <span>&#8377;{{item.salaryL}}-{{item.salaryL}}/M</span>
          {% if registeredht %}
          {% for obj in registeredht %}
          {% if item.user_id|slugify == obj.homeTutor|slugify %}
          <button  id="registered">REGISTERED</button>
          {% endif %}  
          {% endfor %}
          {% else %}
          <button onclick="getdemo('{{item.user_id}}')" id="getdemo{{item.user_id}}">GET DEMO</button>
          {% endif %}

      </div>      
    </div> 
    {% endfor %}
  </div>
  {% if typ == 'ht' %}
  <input type="hidden" name="pinCode" id="pinCode" value="{{pin}}"> 
  {% endif %}

  <div id="HTpopup1" class="HToverlay">
    <div class="HTpopup">
      <form method="post">{% csrf_token %}
        <input type="hidden" name="sno" id="sno">
        <label for="fullname"><b>Name</b></label>
        <input type="text" name="fullname" id="fullname" placeholder="Enter your full name" >
        <label for="phone"><b>Phone</b></label>
        <input type="text" name="phone" id="phone" placeholder="Enter your phone number">
        <label for="email"><b>Email</b></label>
        <input type="email" name="email" id="emaill" placeholder="Enter your email address">
        
        {% if typ == 'ht' %}
            <label for="address"><b>Address</b></label>
            <input type="text" name="address" id="address" placeholder="Enter your locality" required>
            <label for="state"><b>City</b></label>
            <input type="text" name="city" id="city" readonly>
            {% endif %}
          </form>
          {% if typ == 'ht' %}
          <input type="button" class="btn-success con" onclick="submit(this)" disabled value="CONFIRM">
          {% else %}
          <button type="button" class="btn-success con" onclick="submit(this)">CONFIRM</button>
          {% endif %}

          <a class="close" href="#">&times;</a>
         
        </div>
      </div>
      {% else %}
      <div class="emptyCart">
        <img src="/static/img/nohtfound.svg" alt="">
        {% if typ == 'ht' %}
  <input type="hidden" name="pinCode" id="pinCode" value="{{pin}}"> 
        <h3>No Home tutor found in your location!Request for teacher our team will try to get one for you within one working day</h3><a href="#HTpopup2">Click here</a>
        {% else %}
        <h3>No one-one tutor found!Request for teacher our team will try to get one for you within one working day</h3><a href="#HTpopup2">Click here</a>
        {% endif%}
    </div>
      {% endif %}
      <div id="HTpopup2" class="HToverlay">
        <div class="HTpopup HTpopup2">
         <div class="reg">Not setisfied with shown,fill the form so that we can provide you teacher of your choice</div>
          <form method="post">{% csrf_token %}
            <label for="wfullname"><b>Name</b></label>
            <input type="text" name="wfullname" id="wfullname" placeholder="Enter your full name" >
            <label for="phone"><b>Phone</b></label>
            <input type="text" name="wphone" id="wphone" placeholder="Enter your phone number">
            <label for="email"><b>Email</b></label>
            <input type="email" name="wemail" id="wemail" placeholder="Enter your email address">
            <label for="amt"><b>Amount</b></label>
            <input type="text" name="amt" id="amt" placeholder="Enter the amount you want to pay">
            {% if typ == 'ht' %}
            <label for="waddress" id="lwaddress"><b>Address</b></label>
            <input type="text" name="waddress" id="waddress" placeholder="Enter your locality" required>
            <label for="wcity" id='lwcity'><b>City</b></label>
            <input type="text" name="wcity" id="wcity" readonly>
            {% endif %}
              
              </form>
              <button type="button" class="btn-success con" onclick="req_tution(this)">CONFIRM</button>
              <a class="close" href="#">&times;</a>
            </div>
          </div>
      <script src="{% static 'js/get_homeTutor.js' %}"></script>
      {% endblock body %}
