{% extends 'base.html' %}
{% block body %}
{%block title%}Congedu | HomeTutor {% endblock title %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/get_homeTutor.css' %}">
{% if ht %}
<div class="tutorcontainer">
  {% for item in ht %}
  <div class="tutoritem">
      <div class="nameCircle">{{item.name|first|upper}}</div>
      <h4 class="name">{{item.name|upper}}</h4>
      <h6 class="agesex">{{item.age}}Yrs {{item.gender}}</h6>
      <h6 class="subject">{{item.subject}}</h6>
      <h6 class="subject">Class:{{item.classes}}</h6>
    
      <hr>
      <p>{{item.discription}}</p>
      <hr>
      <div class="bottom">
          <span>&#8377;{{item.salaryL}}-{{item.salaryL}}/M</span>
          {% if registeredht %}
          {% for obj in registeredht %}
          {% if item.user_id|slugify != obj.homeTutor|slugify %}
          <button onclick="getdemo('{{item.user_id}}')" id="getdemo">GET DEMO1</button>
          {% else %}   
          {% if obj.reg_for == 'One-One' and typ == 'one' %}
          <button  id="registered">REGISTERED</button>
          {% endif %}
          {% if obj.reg_for == 'Home Tutor' and typ == 'ht' %}
          <button  id="registered">REGISTERED</button>
          {% endif %}
          {% endif %}  
          {% endfor %}
          {% else %}
          <button onclick="getdemo('{{item.user_id}}')" id="getdemo">GET DEMO5</button>
          {% endif %}

      </div>      
    </div> 
    {% endfor %}
  </div>
  <div id="HTpopup1" class="HToverlay">
    <div class="HTpopup">
      <form method="post">{% csrf_token %}
        <input type="hidden" name="sno" id="sno">
        <label for="fullname"><b>Name</b></label>
        <input type="text" name="fullname" id="fullname" placeholder="Enter your full name" >
        <label for="phone"><b>Phone</b></label>
        <input type="text" name="phone" id="phone" placeholder="Enter your phone number">
        <label for="email"><b>Email</b></label>
        <input type="email" name="email" id="email" placeholder="Enter your email address(optional)">
        
        {% if typ == 'ht' %}
        <input type="hidden" name="pinCode" id="pinCode" value="{{pin}}"> 
            <label for="address"><b>Address</b></label>
            <input type="text" name="address" id="address" placeholder="Enter your locality" required>
            <label for="state"><b>City</b></label>
            <input type="text" name="city" id="city" readonly>
            {% endif %}
          </form>
          <input type="button" class="btn" onclick="submit()" value="CONFIRM">
          <a class="close" href="#">&times;</a>
         
        </div>
      </div>
      {% else %}
      <div class="emptyCart">
        <img src="/static/img/nohtfound.svg" alt="">
        {% if typ == 'ht' %}
        <h3>No Home tutor found in your location!</h3>
        {% else %}
        <h3>No one-one tutor found!</h3>
        {% endif%}
    </div>
      {% endif %}
      <script src="{% static 'js/get_homeTutor.js' %}"></script>
      {% endblock body %}