<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Started</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/getStarted.css' %}">
<body>
    <ul class="breadcrumb">
       
      </ul> 
    <div id="TeacherCategory">
    <div class="category c" id="c1">
    <h3>Select a Category you want teach</h3>
    <div class="select">
    <select   id="cat">
        <option value="0">Choose an Option</option>
        <option value="1">Academics</option>
        <option value="6">Competative Exams</option>
        <option value="2">Computer Science</option>
        <option value="3">Music</option>
        <option value="4">Health & Fitness</option>
        <option value="5">Photograpy</option>
    </select>
</div>
</div>
    <div class="sub_category">
    <div class="select">
    <select id="scat">
        
    </select>
</div>
</div>
</div>
<div id="title">
 <h3>Enter the title of your course</h3> 
 <textarea type="text" placeholder="eg:Learn Copmlex Number" id="courseTitle" required></textarea>  
</div>

<div class="btn">
    <button id="previous" onclick="next('prev')">Previous</button>
    <a id="next" onclick="next('next')">Next</a>
</div>
</body>
<script src="{% static 'js/getStarted.js'%}"></script>
</html>