{% extends "base.html" %}
{%block title%}Cognedu | Home {% endblock title %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div id="home">
  <div>
  <div class="searchSection">
    <h1>Transform The Way of Learning</h1>
    <p id="cThought">"You Dont Have To Be Great To Start,But Start To Be Great"</p>
    <form action="/search"  class="searchForm" method="get">
    <div id="searchBox">
      <input type="text" id="search" name="search" placeholder="What Do You Want Learn?">
      <img src="static/img/search.png" alt="">
    </div>
  </form>
  </div>
  <div class="edu">
    <img src="/static/img/edu.png" alt="">
  </div>
  </div>
</div>
  <div class="facilitysection">
    <h2>Achieve your goals with Cognedu</h2>
    <hr>
    <div class="facilitycontent">
      <div class="improve">
       <img src="/static/img/brain.png" alt="">
       <h4>Improve your basics</h4>
       <p>Learn concept in-depth and master the topic</p>
      </div>
    
    <div class="alltime">
      <img src="/static/img/watch.png" alt="">
      <h4>Learn 24x7</h4>
      <p>Our services are avaible  24x7.Study any topic, anytime. </p>
    </div>
    <div class="doubt">
      <img src="/static/img/businessman-with-doubts-svgrepo-com.svg" alt="">
      <h4>Clear your doubts</h4>
      <p>Doubt kills more dreams than failure ever will.Get your doubts cleared by our experts.</p>
    </div>
  </div>
  </div>
  <div class="course">
    <img src="/static/img/courses_home.png" alt="">
    <div class="courseContent">
      <h4>Take a look at our courses</h4>
      <div class="flexline"></div>
      <p> Education is the most powerful weapon which you can use to change the world. <strong> – Nelson Mandela</strong></p>
      <button class="startteach" onclick="openNav()">Courses</button>
    </div>
  </div>
  <div class="homeTutorsection">
    <div class="leftht">
      <img src="/static/img/becomeht.svg" alt="">
      <span>Become a teacher & get home tutoring / teaching jobs in your city.</span>
      {% if user.is_authenticated %}
      {% if request.user.first_name == "Teacher" %}
      <button onclick="window.location.href='/homeTutor'">Become Home Tutor</button>
      {% else %}
      <button onclick="studentHT()">Become Home Tutor</button>
      {% endif %}
      {% else %}
      <button onclick="loginHT()">Become Home Tutor</button>
      {% endif %}
    </div>
    <div class="rightht">
      <img src="/static/img/hireht.svg" alt="">
      <span>Find perfect home tutor for your subject near you.</span>
      <button onclick="window.location.href='#popup1'">Hire Home Tutor</button>
    </div>
  </div>
  <div class="accessible">
    <div class="fleximage">

      <img src="/static/img/online-3412498_1280-removebg-preview.png" alt="">
    </div>
    <div class="accessibleitem">
      <h2>Find flexible and affordable options</h2>
      <div class="flexline"></div>
      <p>Buy our courses at affordable prices and improve your basics in all subjects.</p>
    </div>
  </div>
<!-- learn from anywhere  section begins here -->

    <div class="learnaround">
      <div class="qualitylearning">
        <h4>Learn from the best and experienced instructors</h4>
        <div class="flexline"></div>
        <p>Start learning from  on-demand video lectures today from top instructors in subjects like maths,physics,chemistry and biology.</p>
      </div>
        <img src="/static/img/world_back.jpg" alt="">
  </div>
  <!-- here start teaching today section begins -->
  <div class="startteaching">
      <img src="/static/img/teach.jpg" alt="">
      <div class="teachingtoday">
       <h5>Become an instructor</h5>
         <p> Top instructors from around the india teach millions of students on Cognedu. We provide the tools and skills to teach what you love. </p> 
         <button class="startteach" onclick="window.location.href='/teach1'">Start teaching today</button>
      </div>
  </div>
<script src="{% static 'js/home.js' %}"></script>
{% endblock body %}
