{% extends 'base.html' %}

{% load static %}
{%block title%}myCourses{% endblock title %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/myCourses.css' %}">
<div class="header-bar">
   <span>My courses</span> 
</div>
<div class="container">
  
  {% if myCourses %}
    
 
    
    {% for item in myCourses %}    
    <div class="item" onclick="window.location.href='/courses/{{item.0.title}}/{{item.0.sno}}'">
        <img src="/media/{{item.0.courseThumbnail}}" alt="">
        <div class="courseInfo">
        <h4>{{item.0.title|upper}}</h4>
        <h4>{{item.0.category}},{{item.0.sub_category}}</h4>
        <hr>
        <p>Start Course</p>
      </div>
      </div>  
{% endfor %}
{% else %}
<div class="emptyMycourses">
  <img src="/static/img/emptyMycourses.svg" alt="">
  <p>Start learning what you love.</p>
  <h3>When you enroll in a course, it will appear here</h3>
</div>
{% endif %}
</div>

<!-- <script src="{% static 'js/myCourses.js' %}"></script> -->
{% endblock body %}
    