<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Status</title>
</head>
<body>
    

{% load static %}

<link rel="stylesheet" href="{% static 'css/paymentStatus.css' %}">
<div class="container">
        
        {% if status == 'OK' %}
        <div class="accept">
            <div class="icon">
               
<lottie-player src="https://assets5.lottiefiles.com/packages/lf20_yAh844.json"  background="transparent"  speed="2"  style="width: 250px; height: 250px;"  loop  autoplay></lottie-player>
        </div>
        <div class="text">
          
            <h2>Congrats! Your Course has been unlocked.</h2>
            <h3>Enjoy Learning!</h3>
        </div>
    </div>
                    <div class="navigate">
                        <a href="/">Home</a>
                        <a href="/">MyCources</a>
                    </div>
                    
                    {% if sent == 'True' %} 
                    <form id="add" action="/courseAdded" method="POST">{% csrf_token %}
                        <input type="hidden" id="sno" name="sno" value="{{response_dict.ORDERID}}">
                        <input type="hidden" id="status" name="status" value="{{status}}">
                        
                    </form>
                    {% endif %}
                    {% if sent == 'unlock' %} 
                    <form id="add" action="/updateunlockedDemo" method="POST">{% csrf_token %}
                        <input type="hidden" id="sno" name="sno" value="{{response_dict.TXNAMOUNT}}">
                        <input type="hidden" id="status" name="status" value="{{status}}">
                    </form>
                    {% endif %}
                    {% endif %}
    </div>
</body>

    <script>
if(document.getElementById("add")!==null)
{        document.getElementById("add").submit(); }
    </script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    
    </html>