<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My courses | Player</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/previewmyCourses.css' %}">
    <div class="header-bar">
        <h3 onclick="window.location.href='/'">Cognedu</h3>
        <hr>
        <h2>{{cTitle.0.title}}</h2>
        <span onclick="openVideos()">
        <h1>&#8226;</h1>
        <h1>&#8226;</h1>
        <h1>&#8226;</h1>
    </span>
    </div>
    
        <div class="left">
    <div class="player">
        <video data-id={{course.0.0.sno}} id="vp" poster="/media/{{course.0.0.thumbnail}}" width="100%" height="400px" controls controlList="nodownload">
            <source id="source" src="/media/{{course.0.0.videofile}}" type="video/mp4">
          Your browser does not support the video tag.
          </video>
        </div>
        <!-- <div class="resourses">
        
       
    </div> -->
    <div class="perBox">
        <div class="perTab">
            <button class="perBtn default" onclick="opentab(event,'resource')">Resourses</button>
            <button class="perBtn" onclick="opentab(event,'query')">Ask Query Regarding the Video</button>
        </div>
        <div class="tabcontent"  id="resource">
            <a class="buttonDownload" href="/media/{{course.0.0.resource}}" download>Download Resourses</a>
        </div>
        <input type="hidden" id="creater" value="{{course.0.0.creater_id}}">
        <div class="tabcontent" id="query">
            {% for watch in watched %}
            {% if watch.watched_id == course.0.0.sno %}
            {% if watch.query %}
            <span data-id="{{course.0.0.sno}}" name="studentQuery" id="studentQuery" >Q: {{watch.query}}</span>
            {% if watch.answer %}
            <br>
            <br>
            <span data-id="{{course.0.0.sno}}" name="answer" id="answer" >Ans: {{watch.answer}}</span>
            {% endif %}
            {% else %}
            <textarea data-id="{{course.0.0.sno}}" name="studentQuery" id="studentQuery" cols="100" rows="10" placeholder="Ask Your Query" ></textarea>
            <button  id="asKQuery"  onclick="askQuery(this)">Ask</button>
            {% endif %}
            {% else %}
            <!-- <textarea data-id="{{course.0.0.sno}}" name="studentQuery" id="studentQuery" cols="100" rows="10" placeholder="Ask Your Query" ></textarea>
            <button  id="asKQuery"  onclick="askQuery(this)">Ask</button>-->
            {% endif %} 
        {% endfor %}
        </div>
    </div>
    
    {% if review.0 %}
    <div class="rateCourse">
        <div class="alreadyrated">
            <h2>Your review</h2>
    <div class="stars"  data-rvalue="{{review.0.rating}}">
        <span class="star st" data-val="1"></span>
        <span class="star st" data-val="2"></span>
        <span class="star st" data-val="3" ></span>
        <span class="star st" data-val="4" ></span>
        <span class="star st" data-val="5" ></span>
        </div> 
        <span>{{review.0.review}}</span>
        <button class="addReview" onclick="editreview('{{csno}}',this)" data-action="reditreview">Edit</button>
    </div>
    </div>
        {% else %}
   
        
    <div class="rateCourse">
        <h2>Add a public review</h2>
    <div class="stars">
        <span class="star" data-val="1" onclick="rate(this)"></span>
        <span class="star" data-val="2" onclick="rate(this)"></span>
        <span class="star" data-val="3" onclick="rate(this)"></span>
        <span class="star" data-val="4" onclick="rate(this)"></span>
        <span class="star" data-val="5" onclick="rate(this)"></span>
        <!-- <h1 class="rate">0/5</h1> -->
        </div> 
        <div class="writeReview">
            <label for="review">Add review</label>
            <textarea name="review"  id="review" cols="60" rows="10"></textarea>
        </div>
        <button class="addReview" onclick="addreview('{{csno}}',this)" data-action="basereview">Review</button>
    </div>
    {% endif %}
    </div>
  
    <div class="videos">
        <div class='content con'>Course content</div>
        <div class='content title'>{{cTitle.0.title}}</div>
    {% for item in course %}
    
    {% if forloop.counter == 1 %}
        
    <div class="active-bar" id='bar{{item.0.sno}}' onclick="play(this,'{{item.0.videofile}}','{{item.0.resource}}','{{item.0.sno}}','{{item.0.thumbnail}}')">
        {% else %}
    <div class="video-bar" id='bar{{item.0.sno}}' onclick="play(this,'{{item.0.videofile}}','{{item.0.resource}}','{{item.0.sno}}','{{item.0.thumbnail}}')">
        {% endif %}
        <h4>{{forloop.counter}}.{{item.0.videoTitle}}</h4>
        <div class="lower-video-bar">
            <p>{{item.1}} min</p>
            <div class="watched" id="w{{item.0.sno}}">
        {% for watch in watched %}
        {% if watch.watched_id == item.0.sno %}
        <img src="/static/img/watched.png" alt="">
        <input id='get_query{{item.0.sno}}' type="hidden" value="{{watch.query}}">
        <input id='get_answer{{item.0.sno}}' type="hidden" value="{{watch.answer}}">
        {% endif %}
        {% endfor %}
    </div>
    </div>  
    </div>  
    {% endfor %}
</div>
</div>
<script   src="{% static 'js/previewmyCourses.js'%}"></script>
</html>
