{% extends 'baseTeach.html' %}
{%block title%}Student Queries{% endblock title %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/studentQuery.css' %}">
<div class="container">
    
    {% if query %}
        
 
        
{% for item in query %}
{% if item.query %}
    <div class="item">
<h3>{{item.watched.videoTitle}}</h3>
<h5>{{item.timeStamp}}</h5>
<p> Q:{{item.query}}</p>
<input type="hidden" id="sno" value="{{item.watched.sno}}">
<input type="hidden" id="user" value="{{item.user}}">
<textarea name="answer" id="answer" cols="30" rows="10" placeholder="write your answer here"></textarea>
<button onclick="answered()" class="btn">Submit Answer</button>
</div>
{% endif %}
{% endfor %}
{% else %}
<div class="emptyCart">
    <img src="/static/img/noQuery.svg" alt="">
    <h3>No queries raised yet. When students will raise queries we will let you know</h3>
</div>
{% endif %}
</div>
<script  src="{% static 'js/studentQuery.js'%}"></script>
{% endblock body %}
    