{% extends 'base.html' %}

{% load static %}
{%block title%}Teach on Cognedu {% endblock title %}
{% block body%}
<link rel="stylesheet" href="{% static 'css/teach1.css' %}">
<section id="home">
    <div class="container">
        <h1>Make a global impact</h1>
        <p>Create an online video course and earn money by teaching people around the world.</p>
        {% if user.is_authenticated %}
        {% if request.user.first_name == "Teacher" %}
        <a type="button" class="btn-getStarted" href="/addCourse">Get Started</a>
        {% endif %}
        {% else %}
        <button id="TeacherSignUp">Become an instructor</button>
        {% endif %}
    </div>
</section>
<div id="myModal " class="modal modal-Teachersignup">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close closeTeachersignup">&times;</span>
            <h2>Sign Up as Instructor</h2>
        </div>
        <div class="modal-body">
            <form action="/teachersignup" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label for="userName">User Name</label>
                    <input type="text" name="userName" id="userName" placeholder="Enter a Unique Username " required>
                </div>
                <div class="form-group">
                    <label for="email">Email Id</label>
                    <input type="email" name="email" id="email" placeholder="Enter Your Email Id" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter Your Password" required>
                </div>
                <div class="form-group">
                    <label for="cpassword">Confirm Password</label>
                    <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" required>
                </div>
                <button id="submitSignup" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>
<!-- discover youself section begins -->
<div class="discover">
    <h1>Discover Yourself</h1>
</div>
<!-- boxes and icons for discover section -->
<div class="item1">

    <div id="box">
        <img src="/static/img/money.png" />
        <h3>Earn Money</h3>
        <p>Earn money every time a student purchases your course. Get paid through upi or account, it’s your
            choice.</p>
    </div>
    <div id="box">
        <img src="/static/img/video.png" />
        <h3>Inspire students</h3>
        <p>Help people learn new skills, advance their careers, and explore their hobbies by sharing your knowledge</p>
    </div>
    <div id="box">
        <img src="/static/img/thumb-up.png" />
        <h3>Join our community</h3>
        <p>Take advantage of our active community of instructors to help you through your course creation process.</p>
    </div>
</div>
<!-- expand your reach section begins -->
<div class="expand">
    <h1>Expand Your Reach</h1>
    <span id="Line"></span>
    <p>We aim to change lives by connecting instructors with students around the country.
        Reach out to thousands of students through your educational lectures and grow your brand in the fastest way possible. </p>
</div>
<!-- boxes for teachers reviews and their photos -->
<div class="item2">
    <div id="expand1">
        <p>You start with your passion and knowledge. Then choose topics i.e. academics,competitive exams,computer science, health & fitness, photograpy etc. 
             and plan your lectures in Google Docs,
            Microsoft Excel, or your favorite notebook(if you can).
            You get to teach the way you want — even create courses in multiple languages and inspire more students.</p>

    </div>
    <div id="expand2">
        <p>Create quizzes, exercises, and assignments to build interactivity. Write welcome messages for your students
            and answer their questions. Because Cognedu students don’t just watch, they do.</p>
    </div>
    <div id="expand3">
        <p>In today's digital age, multimedia content attracts students the most. Securing and distributing such content 
            is one of the biggest challenges of the visionary tutors today.</p>
        <p>There's no greater success on the Cognedu marketplace than hearing that you've helped a student achieve their
            goals. Teaching on Cognedu will  brought you new relationships from wonderful and insatiably curious students.
        </p>
    </div>
</div>


<!-- help section begins here -->
<section id="help">
    <div class="item3">
        <h3>We are here to help</h3>
        <span> Our Instructor Support Team is here for you 24/7 to help you through your course creation needs. Use our
            Teaching Center, a resource center to help you through the process. Join Studio U and get peer-to-peer
            support from our engaged instructor community. This community group is always on, always there, and always
            helpful.</span>
    </div>
</section>
<script src="{% static 'js/teach1.js' %}"></script>

{% endblock body %}