{%extends 'base.html' %}


{% block title %}
Cognedu | Terms
{% endblock title %}

{% block body %}
<style>
    .container{
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        min-height: 60vh;
        margin-bottom: 30px;
        align-items: center;}
        .container >div{
            width: 100%;
            margin-top: 100px;
        }
       .container h1{
            font-size: 30px;
        }
       .container h3{
            font-weight: bolder;
            font-size: 20px;
            margin-bottom: 10px;
            margin-top: 20px;
        }
        
   .container p{
        margin-top:10px ;
        
    }
  
</style>
<div class="container">
<h1>Terms & Condition</h1>
<div>
<h3>Payment Terms and condition to instructor:</h3>
<p>Cognedu team will pay you 70% of the gross total of your subject income. You will get payment within 7 days when
registration done by the student. Your share will be transfer to your account on the instalment basis 30% of your part
within week and on completion of 50% course 60% will be transferred and complete amount on completion of full course.</p>
<h3>Teaching Terms and condition:</h3>
<p>
You have to upload an introductory video to our website that will be review by our experts and on their confirmation,
any student can watch introductory video freely then teachers need to upload video continually on that topic. If any
student will enrol in your subject then only you will get paid accordingly topic price. If any student enrolled once
afterwards it’s your responsibility to complete the syllabus on time.
Once you collaborate with us you can’t share your videos with anyone or at any teaching platform.</p>
<h3>Terms and condition for Home Tutor:</h3>
<p>Once you get home tuition your behaviour should be proper if any complaint comes from the parents of the student then it
    will be taken into consideration by our team. If you found guilty at any point, we can take suitable action.
    You can’t leave in the mid without any significant reason if you do so then our team can take any suitable action.</p>
<h3>Terms and condition regarding tutor qualification:</h3>
<p>
You have to provide scanned your own document and correct information. If any mismatch found in your education
qualification our team can take any legal action against you.
</p>
</div>
</div>
{% endblock body %}
