{% extends 'baseTeach.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/tPerformance.css' %}">
<div class="container">
<h1>Performance</h1>
    <div class="perBox">
        <div class="tab">
    <div class="perTab">
        <button class="perBtn default" onclick="opentab(event,'revenue')">Total Revenue</button>
        <button class="perBtn" onclick="opentab(event,'enrollment')">Total Enrollment</button>
        <button class="perBtn" onclick="opentab(event,'rating')">Instructor Rating</button></div>
    </div>
    <div class="tabcontent" id="revenue">
        <h3>Please note the you will get the 70% of your course</h3>
        <div class="alert-error alert-dismissible">
        </div>
        <div class="account">
            
            {% if not account %}
            <h2>Add payment method</h2>
            <div class="upi">
            <h5>UPI ID</h5>
            <input type="text" id="upiid" placeholder="Enter your upi id">
        </div>
        <span>or</span>
        <div>
            <h5>Bank Account</h5>         
<div>
    <label for="acc_no">Account No.</label>
    <input type="text" id="accno" placeholder="Enter account number">
</div>
<div>
    <label for="acc_ifsc">IFSC Code</label>
    <input type="text" id="ifsc" placeholder="Enter IFSC Code">
</div>
<div>
    <label for="acc_holder">Account holder</label>
    <input type="text" id="accholder" placeholder="Enter account holder name">
</div>
        </div>
        <button class="add btn" onclick="addmethod('add',this)">Add</button>
        {% else %}
        <h2>Payment method added</h2>
        <button class="add btn" onclick="edit()">Edit</button>
        {% endif %}
        <hr>
        </div>
        {% for item in courses %}
        <div class="courseRevenue">
        <span>{{forloop.counter}}.{{item.title|upper}}</span>
        <span>&#160;{{item.enrolled}} students enrolled</span>
        <span>&#160;&#8377;{{item.pricing}}</span>
        </div>
        {% endfor %}
        <div class="totalRevenue">
            <span>Total Revenue-&#8377;{{revenue}}</span>
        </div>
    </div>
    <div class="tabcontent" id="enrollment">
    {% for item in courses %}
    <div class="courseEnrolled">
     <span>{{forloop.counter}}. {{item.title|upper}}</span>
     <span>&#160;&#160; {{item.enrolled}} students enrolled</span>
            </div>
            {% endfor %}
             <div class="totalEnrolled">
                <span>Total enrollment -{{totalenrolled}}</span> 
             </div>
    </div>
    <div class="tabcontent" id="rating">
        {% for item in courses %}
        <div class="intructorRating">
         <span>{{forloop.counter}}. {{item.title|upper}}</span>
         <div class="stars reviewstars"  data-rvalue="{{item.rating}}">
            <span class="star st" data-val="1"></span>
            <span class="star st" data-val="2"></span>
            <span class="star st" data-val="3" ></span>
            <span class="star st" data-val="4" ></span>
            <span class="star st" data-val="5" ></span>
            </div> 
            </div> 
        {% endfor %}
            
    </div>
</div>
<script src="{% static 'js/tPerformance.js' %}"></script>
{% endblock body %}
