body{
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.courseData{
    margin-top: 100px;
    margin-left: 100px;
    width: 80%;
    
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 1px solid rgb(66, 77, 226); /* Add a thin border  */
}
.courseUl li .removeCourse{
  float: right;
}
.courseUl li  img{
float: right;
}
.courseUl li .removeCourse:hover .remove{
 display: flex;
}
.remove{
  background-color: white;
  box-shadow: 0 0 5px gray;
  display: none;
  width: 200px;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */

.content {
    background-color: #c9c9c9; /* Add a grey background color */
    /* padding: 0 18px; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    
  }
  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
.submitVideo{
    margin-left: auto;
    border: none;
    padding: 15px 25px;
    width: 700px;
    height: 300px;
    margin-bottom: 25px;
   
}

  .courseUl {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    width: 100%;
    
  }
  .courseUl .item {
    border: 1px solid #ddd; /* Add a thin border to each list item */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Add a grey background color */
    padding: 12px; /* Add some padding */
  }

  
   /* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 0 12px 0;
    display: inline-block;
    font-size: 14px;

  }
  /* style the browse button */
  
  .btn-danger{
    padding: 10px;
  }
  /* Style the submit button */
  input[type=submit] {
    background-color: rgb(65, 100, 236);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  } 




/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
} 

@media (max-width:700px){
  .courseData{
    margin-top: 100px;
    margin-left: auto;
    width: 90%;
    margin-right: auto;
    
}
}

.progress{
margin-top: 20px;
  visibility: hidden;
  margin-bottom: 10px;
  width: 60%;
}
.myProgress {
  width: 90%;
  height: 40px;
  background-color: grey;
}

.myBar {
  width: 0%;
  height: 40px;
  background-color: rgb(3, 53, 216);
}
.btn{
  width: 100px;
  float: right;
}
.progress button{
  margin-top: 10px;
}
.alert-success {
  padding: 15px;
  background-color: #1ca609; /* Red */
  color: white;
  margin-bottom: 15px;
}
.alert-error {
  padding: 15px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
.alert {
 position: relative;
 top: 10px;
  opacity: 1;
  z-index: 2;
  transition: opacity 0.6s; /* 600ms to fade out */
}