*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    position: sticky;
    padding: -5px 15px;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    height: 50px;  
}
#navbar::before{
    content: "";
    background-color: rgb(139, 139, 139);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
}
#navbar .mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -127px;
    margin-top: 0;
    height: 100%;
}

#navbar .mid li {
    list-style: none;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.3rem;
    justify-content: center;
}
#navbar .mid li a{
    color:white;
    display: block;
    font-size: 25px;
    padding: 10px 7px;
    text-decoration: none;
    /* border-radius: 20px; */
}
.mid img{
 padding: 12px;
}
.mid span{
    display: flex;
    flex-direction: row;
}
 .mid:hover{
    background-color:  rgb(22, 158, 56);
    border-radius: 2px;
    cursor: pointer;
}


.active{
    color:rgb(0, 0, 0);
    background-color: rgb(22, 158, 56);
}
#logo img{
    height: 60px;
}
.left{
    display: flex;
    color: white;
    font-size: 20px;
}
.left #logo{
   margin-left: 20px;
   margin-right: 10px;
}
.left p{
    font-size: 15px;
}
.left #tagLine{
    font-family: 'Berkshire Swash', cursive;
font-family: 'Piedra', cursive;
    color:rgb(0, 255, 55);
    margin-left: 40px;
   cursor: pointer;
}
.right{
    margin: 5px 0; 
}
.right .btn{
  background-color: rgb(52, 192, 87);
  border:1px solid #000;
  font-size: 15px;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
}
.right .btn:hover{
  background-color: rgb(0, 219, 55);
  border:1px solid white;
}
.right .btn-SignUp{
    margin-right:20px;
}

.mid:hover .displayClass{
    display: block;
    position: relative;
    
    /* background-color: yellow; */
}
/* Display Categories */
.displayClass{
    display: none;
    z-index: 5;
    width: 130px;
    border-radius: 2px;
    padding-left: 10px;
    /* text-align: center; */
    /* top: 10px; */
    background-color: rgb(223, 223, 223);
    
}
.displayClass .item{
    padding-top: 5px;
    padding-bottom: 5px;
}