*{
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
}

body{
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.body{
  height: 100%;
  min-height: 100%;
}
.top{
  position: absolute;
  top: 10px;
  right: 0;
}
#Tname{
    float:right;
    margin-right: 10px;
    height: 44px;
    font-size: 2rem;
    width: 51px;
    text-align: center;
    background-color:rgb(136, 136, 136);
    border-radius: 50%;
    padding-top: 5px;
    color: white;
    border: 2px solid rgba(240, 240, 240, 0.64);
    cursor: pointer;
}
.notification{
  float:right;
    margin-right: 1rem;
    height: 44px;
    font-size: 2rem;
    width: 51px;
    text-align: center;
   padding-top: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
}
#role{
float: right;
margin-right: 2rem;
font-size: 1rem;
padding-top: 17px;
height: 35px;
width: 111px;
text-decoration: none;
color: black;
text-align: center;
border-radius: 2px;
}

#role:hover{
    border: 1px solid rgb(179, 179, 179);
    background-color: rgb(218, 218, 218);
}
.container{
  min-height:89vh;
}
 /* The side navigation menu */
 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(65, 100, 236);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
@media(min-width:700px){
  .sidenav:hover{
    width: 250px;
  }
.sidenav{
  width: 60px;
}
}

/* The navigation menu links */
.sidenav a {
  display: flex;
  flex-direction: row;
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  transition: 0.3s;
  max-lines: 1;
}
.sidenav a span{
  margin-right: 10px;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

.box {
  display: none;
  width: 150px;
  height: 120px;
  background-color: rgb(231, 231, 231);
  color:rgb(0, 0, 0);
  padding: 20px;
  position: relative;
  margin: -132px;
  float: left;
  font-size: 1rem;
  color:black;
  font-size: .8rem;
}

.arrow-top {
  margin-top: 60px;
}

.arrow-top:after {
  content: " ";
  position: absolute;
  right: 19px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid rgb(211, 211, 211);
}
.notification img{
  width: 80%;
  height: 81%;
}
.box-notify{
  display: none;
width: 150px;
height: 120px;
background-color:rgb(231, 231, 231);
color: rgb(0, 0, 0);
padding: 20px;
position: relative;
float: left;
font-size: 1rem;
color:black;
font-size: .8rem;
margin-right: 8rem;
margin-top: 12px;
}
.notify p{
  font-size: 14px;
  margin-bottom: 5px;
  float: left;
  text-align: start;
}

.notify span{
  color: rgb(112, 112, 112);
  float: left;
  }
#Tname:hover .box{
  display: block;
}
.notification:hover .box-notify{
  display: block;
}
.box h2{
  color: teal;
  padding: 10px;
}
.box h2:hover{
  color:rgb(255, 255, 255);
  background-color: rgb(20, 33, 220);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-header h2{
  font-size: 1.3rem;
}
/* Modal Content/Box */


/* The Close Button */
.close {
  color:black;
  float: right;
  font-size: 2.0rem;
  margin-top: 12px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
 /* Modal Header */
 .modal-header {
  padding: 2px 16px;
  background-color: rgb(65, 100, 236);
  color: white;
}

.modal-body{
  padding:10px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}
@media only screen and (max-width:1100px )and (min-width:800px){
    .modal-content{
    width: 55%;}
}
@media only screen and (max-width:800px ){
    .modal-content{
    width: 90%;}
}
@media only screen and (max-width:420px ){
    .modal-content{
    width: 100%;}
}
/* Add Animation */
@keyframes animatetop {
  from {top: -800px; opacity: 0}
  to {top: 0; opacity: 1}
}

.profile input[type=text], select, textarea{
  width: 100%;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
.profile label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
.profile button {
  background-color: rgb(65, 100, 236);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 7px;
}
.profile button:hover {
  background-color: rgb(10, 55, 235);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.profile .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.profile .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row-btn {
display: flex;
justify-content: center;
}
/* Clear floats after the columns */
.profile .row:after {
  content: "";
  display: table;
  clear: both;
}
.editTprofile {
 padding: 12px 20px;
border: 2px solid rgb(65, 100, 236);
background-color: white;
  color: black;
  margin-top: 7px;
  border-radius: 4px;
  cursor: pointer;
}
.editTprofile:hover {
  background-color:rgb(65, 100, 236);
  color: rgb(255, 255, 255);
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
 .profile .col-25,.profile .col-75,.profile input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.showProfile {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.showProfile li {
  border: 1px solid #ddd; /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Add a grey background color */
  padding: 12px; /* Add some padding */
}


table { 
  width: 50%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}


@keyframes ldio-q4l6k50whm-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(40px,0) }
   50%    { opacity: 0; transform: translate(40px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-q4l6k50whm {
    0% { transform: translate(0,0) }
   50% { transform: translate(40px,0) }
  100% { transform: translate(0,0) }
}
.ldio-q4l6k50whm div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 30px;
  left: 10px;
}
.ldio-q4l6k50whm div:nth-child(1) {
  background: #e90c0c;
  animation: ldio-q4l6k50whm 1s linear infinite;
  animation-delay: -0.5s;
}
.ldio-q4l6k50whm div:nth-child(2) {
  background: #4648f0;
  animation: ldio-q4l6k50whm 1s linear infinite;
  animation-delay: 0s;
}
.ldio-q4l6k50whm div:nth-child(3) {
  background: #e90c0c;
  animation: ldio-q4l6k50whm-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball-r8c8qw9ip7 {
  width: 28px;
  height: 28px;
  display: inline-block;
  overflow: hidden;
  background: rgba(241, 242, 243, 0);
}
.ldio-q4l6k50whm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.28);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-q4l6k50whm div { box-sizing: content-box; }
/* generated by https://loading.io/ */
.cross{
  display: none;
font-size: 25px;
cursor: pointer;
background-color: rgb(184, 184, 184);
width: 40px;
height: 37px;
padding-top: 4px;
text-align: center;
position: absolute;
border-radius: 50%;
top:20px;
margin-left: auto;
right: 10px;}

@media (max-width:700px){
  .sidenav{
    width: 0;
  }
  .hamburger{
    font-size: 30px;
    display: inline;
    padding: 10px;
  }
.cross{
  display: block;
}
}
footer{
  clear: both;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding: 25px 4%;
  background-color: #f2f2f2;
  width: 92%;
  
  /* margin-bottom: -2vh; */
}
footer img{
  margin-right: 10px;
}
@media(max-width:700px){
  footer{
    flex-direction: column-reverse;
  }
  footer #fitem1{
    margin-top: 20px;
  }
 
}
@media(max-width:450px){
  footer #fitem1{
    font-size: 13px;
  }
}
.btn{
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 8px black;
  border: none;
  margin-top: 20px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #004bc4 0%, #7d09a0 51%, #004bc4 100%);
  }
  .btn:hover{
    background-position: right;
  }

  /* The alert message box */
.alert-success {
  padding: 15px;
  background-color: #1ca609; /* Red */
  color: white;
  margin-bottom: 15px;
}
.alert-error {
  padding: 15px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
.alert {
  position: absolute;
  top: 3vh;
  left:0;
  right: 0;
  opacity: 1;
  z-index: 2;
  transition: opacity 0.6s; /* 600ms to fade out */
}
.btn-danger{
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 8px black;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to right, #dd1e1e 0%, #0c04ee 61%, #dd1e1e 100%);
}
.btn-danger:hover{
  background-position: right;
}
/* loaders */
#loader-container {
  width: 25px;
  height: 25px;
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}