
body{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
#home
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    height: 450px;
}
#home::before{
    content: "";
    background:url("/static/img/back.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    height: 420px;
    opacity: 0.9;
    z-index: -1;
}
#home #cThought {
    font-family: cursive;
    color: black;
    font-size: small;
    margin-bottom: 25px;
  }
  .searchSection{
    position: relative;
    margin-left: 10%;
    top: 25%;
}
.searchSection h1{
    font-size: 1.8rem;
    color: black;
    font-family: Ubuntu,serif, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
@media only screen and (min-width: 900px){

 #home #searchBox{
     display: flex;
     margin-top: 50px;
  }
#home .searchSection #search{
    width: 300px;
    height: 41px;
    padding: 0 10px;
    border: none;
}
#searchBox img{
    background-color: white;
    height: 21px;
    padding: 10px;
}
#searchBox img:hover{
    background-color: rgb(0, 255, 55);
    cursor: pointer;
}

}
@media only screen and (max-width: 900px){
    #searchBox{
        display: none;
    }

}



