
#home
{   position: absolute;
    top: 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    background-image: url('/static/img/homebg.svg');
    background-size: cover;
    height:89vh;
    width: 100%;
    z-index: -1;
}
/* #home::after{
    content: '';
    position: absolute;
    top: 9vh;
    width: 22%;
    right: 200px;
    height:270px;
    background-image: url("/static/img/book.png");
    background-size: cover;
    z-index: 1;

} */
#home #cThought {
    font-family: cursive;
    color: rgb(255, 255, 255);
    font-size: small;
    margin-bottom: 25px;
  }
  .searchForm{
margin-top: -22px;
align-items: flex-start;
  }
  .searchSection{
    position: relative;
    margin-left: 10%;
    top: 25%;
    max-width: 510px;

}

.searchSection h1{
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    font-family: Ubuntu,serif, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
@media only screen and (min-width: 900px){

 #home #searchBox{
     display: flex;
     margin-top: 50px;
  }
#home .searchSection #search{
    width: 300px;
    height: 41px;
    padding: 0 10px;
    border: none;
}
#searchBox img{
    background-color: white;
    height: 21px;
    padding: 10px;
}
#searchBox img:hover{
    background-color: rgb(65, 100, 236);
    cursor: pointer;
}

}
@media only screen and (max-width: 900px){
    #searchBox{
        display: none;
    }
}



