.header-bar{
    background-color: #505763 !important;
    /* width: 100%; */
    padding-top: 150px;
    padding-bottom: 20px;
    padding-left: 10vh;
}
.header-bar >span{
    font-size: 25px;
    color: white;
}
.container{
    display: grid;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* grid-gap: 10px; */
}
.container .item{
    background-color: white;
    box-shadow: 3px 3px 3px 3px #cacaca;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-bottom: 100px;
    cursor: pointer;
}
.container .item hr{
   margin-top: 25px;
}
.container .item .btn-cart{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.container .courseInfo{
    padding: 10px;
    line-height: 23px;
}
.container .courseInfo p{
    color: #007791;
    font-size: 14px;
}
.container .item:hover{
    box-shadow: 5px 5px 5px 5px #cacaca;
}
.container .item img{
    width: 250px;
    height: 130px;
}