*{
    top:0;
    left: 0;
    margin: 0;
    padding: 0;
}
.header-bar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding:5px 10px;
    background-color: #29303b;
    color: white;
    
}
.header-bar h3{
   padding: 20px;
   width: 72px;
    
}
.container{
    display: flex;
}
.left{
    width: 75%;  
}
.player{
    background-color:#000 ;
    margin-top: 60px;
    margin-left: -8px;
    /* width: 100%; */
}
.videos{
    width: 24%;
    margin-top: 60px;
    border-left: 1px solid rgb(204, 204, 204);
    /* background-color: white;
    box-shadow: 0 0 0 5px rgb(173, 173, 173); */
}
.videos .content{
    border-bottom: 1px solid rgb(182, 182, 182);
    padding: 27px;
    height: 20px;
    color: rgb(56, 56, 56);
    box-shadow: 0 0 5px 0 rgb(173, 173, 173);
    width: 88%;
}
.videos .video-bar{
    border-bottom: 1px solid rgb(182, 182, 182);
    padding:5px;
    background-color: rgb(243, 243, 243);
    color: black;
}
.videos .video-bar:hover{
    
    background-color: rgb(219, 219, 219);
}
.active-bar{
    border-bottom: 1px solidrgb(182, 182, 182);
    padding: 5px;
    background-color:rgb(0, 14, 91);
    color: #ececec;
}
.videos  .lower-video-bar{
   display: flex;
   justify-content: space-between;
}
.videos .video-bar h4{
    color: black;
    margin-bottom: 4px;
}
.left .resourses a{
 margin-left: 20px;
 margin-top: 20px;
}
.perBox{
    margin: auto;
    width: 800px;
}
.perBox:hover{
    box-shadow:4px 4px 4px 4px rgb(216, 212, 212) ;
}
.perTab{
    overflow: hidden;
  display: flex;
  height: 80px;
  width: 800px;
  border: 1px solid rgb(214, 209, 209);
}
.perBtn{
    font-size: 1.2rem;
    width: 33%;
    font-weight: bold;
    border: none;
    background-color: white;
    cursor: pointer;
}
.perBtn:hover{
    background-color:rgb(250, 244, 250) ;
}
 .perBtn.active{
    text-decoration: none;
    border-bottom: 8px solid rgb(111, 153, 77);
}
.tabcontent{
    display: none;
    height: 500px;
    border: 1px solid rgb(214, 209, 209);
    width: 800px;
    background-color: rgb(250, 244, 250);
}
.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;
  
	background-color: #4CC713;
	color: white;
  
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #333;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;
  
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #4CC713;
}

.buttonDownload:hover:after {
	border-top-color: #4CC713;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}