
.container{
    display: grid;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* grid-gap: 10px; */
}
.item{
    background-color: white;
    box-shadow: 3px 3px 3px 3px #cacaca;
    height: 351px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-bottom: 100px;
}
.item .btn-cart{
    display: flex;
justify-content: center;
margin-top: 20px;
width: 126px;
margin-left: auto;
margin-right: auto;
}
.item .addCart{
    text-decoration: none;
    flex: 1 1 auto;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 8px black;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to right, #004bc4 0%, #7d09a0 51%, #004bc4 100%);
   cursor: pointer;
    padding: 10px;

}
.item .addCart:hover{
    background-position: right;
  }
.item .goCart{
    text-decoration: none;
    flex: 1 1 auto;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 8px black;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to right, #004bc4 0%, #009b86 51%, #004bc4 100%);
   cursor: pointer;
    padding: 10px;
}
.item .goCart:hover{
    background-position: right;
  }
.courseInfo{
    padding: 10px;
    line-height: 23px;
}
.item:hover{
    box-shadow: 5px 5px 5px 5px #cacaca;
}
.item img{
    width: 250px;
    height: 150px;
}
.emptySearch{
    border: 1px solid rgb(226, 226, 226);
    width: 50%;
    background-color: rgb(247, 247, 247);
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
    align-items: center;
    padding: 50px 0;
    margin-bottom: 100px;
}
.emptySearch img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.emptySearch p{
text-align: center;
font-size: 18px;
}

@media(max-width:950px){
    .emptySearch{
width: 80%;
    }
}
@media(max-width:420px){
    .emptySearch{
width: 95%;
    }
}