body{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }
.container{
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 20px;
}
.container .item{
    padding: 20px;
    background-color: rgb(238, 238, 238);
}