.container{
   margin-left: 80px;
   margin-right: 5%;
   margin-top: 100px;
  
}
.container .query-block{
    display: flex;
    justify-content: space-between;
}
.container .get_query{
    width: 84%;
    background-color: teal;
    margin-bottom: 30px;
    padding: 15px 8%;
}
 #searchBox{
    display: flex;
    justify-content: center;
 }
  #search{
   width: 70%;
   height: 41px;
   padding: 0 10px;
   border: none;
}
#searchBox img{
   background-color: white;
   height: 21px;
   padding: 10px;
}
#searchBox img:hover{
   background-color: rgb(65, 100, 236);
   cursor: pointer;
}

.container .query-card{
    width: 40%;
    padding: 20px;
    background-color: rgb(199, 196, 199);
    margin-bottom: 30px;
}
@media(max-width:700px){
    .container .query-block{
        flex-direction: column;
    }
    .container .query-block .query-card{
        width: 90%;
        padding: 5%;
    }
}
@media(max-width:700px){
    .container{
        margin-left: 10px;
        margin-right: 10px;
    }
    #search{
        width: 95%;
    }
}