
.container{
    display: grid;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* grid-gap: 10px; */
}
.item{
    background-color: white;
    box-shadow: 3px 3px 3px 3px #cacaca;
    height: 351px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-bottom: 100px;
}
.item .btn-cart{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.item .addCart{
    display: flex;
    text-decoration: none;
    background-color: green;
    color: white;
    border-radius: 2px;
   border: none;
   cursor: pointer;
    padding: 10px;

}
.item .goCart{
    display: flex;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    cursor: pointer;
   border: 1px solid green;
    padding: 10px;

}
.item button:hover{
    background-color: rgb(0, 173, 0);
}
.courseInfo{
    padding: 10px;
    line-height: 23px;
}
.item:hover{
    box-shadow: 5px 5px 5px 5px #cacaca;
}
.item img{
    width: 250px;
    height: 150px;
}