{% extends 'baseStaff.html' %}

    {% load static %}
    
    {% block body %}  

    <link rel="stylesheet" href="{% static 'css/adminPanel.css' %}">
      <div class="container">
      
      {% for item in un_verified %}
      <div class="item">
          <img onclick="player(this)" data-id={{item.0.0.sno}} src="/media/{{item.0.0.courseThumbnail}}" alt="">
        <!-- <video width="100%" height="250px" poster="/media/{{item.0.0.courseThumbnail}}" controls>
            <source src="/media/{{item.1.videofile}}" type="video/mp4">
          Your browser does not support the video tag.
          </video> -->
        <div class="courseInfo">
        <h4>{{item.0.0.title|upper}}</h4>
        <h5>Rs: {{item.0.0.pricing}}</h5>
        <p>Created By- {{item.0.0.creater_name}}</p>
        <p>Date- {{item.0.0.timeStamp}}</p>
      </div>
      <hr> 
      <div class="btn">
      <div class="btn-cart">
        <button data-product="{{item.0.0.sno}}" data-user="{{item.0.0.creater_id}}" data-action="verify" type="button" class="verify" onclick="verification(this)">Verify</button>
     </div>
      <div class=" btn-cart">
        <button class="remove" onclick="confirm('{{item.0.0.sno}}')">Delete</button>
        <div id="myModalvar{{item.0.0.sno}}" class="modal ">
          <div class="modal-content">
            <div class="modal-header">
              <span class="close" id="closedel{{item.0.0.sno}}">&times;</span>
              <h2>Message to the creater</h2>
            </div>
            <textarea  id="message" required></textarea>
            <button data-product="{{item.0.0.sno}}" data-user="{{item.0.0.creater_id}}" data-action="remove" type="button" class="remove" onclick="verification(this)">Confirm</button>
          </div>
        </div>
     </div>
     </div>
      </div>
      <div id="myModal{{item.0.0.sno}}" class="modal modal-play">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" id="closeplay{{item.0.0.sno}}">&times;</span>
            <h2>{{item.1.videoTitle}}</h2>
          </div>
          <div class="modal-body">
              <video width="100%" height="250px" poster="/media/{{item.1.thumbnail}}" controls>
            <source src="/media/{{item.1.videofile}}" type="video/mp4">
          Your browser does not support the video tag.
          </video>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
      

<script src="{% static 'js/adminPanel.js' %}"></script>
{% endblock body %}